:root {
  --vsq: calc((1vw + 1vh) / 2);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

#root {
  user-select: none;
  cursor: crosshair;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
}
