:root {
  --vsq: calc((1vw + 1vh) / 2);
}

::-webkit-scrollbar {
  width: var(--vsq);
  height: var(--vsq);
}

::-webkit-scrollbar-thumb {
  border: 1px solid #3e3e3e;
  background: #333;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  cursor: crosshair;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
}

canvas {
  user-select: none;
}

nav {
  display: flex;
  gap: 1em;
  place-content: center;
  place-items: center;
  position: fixed !important;
  transform: unset !important;
  inset: auto 0 2rem 0 !important;
}

nav > div {
  display: contents;
}

nav img {
  object-fit: cover;
  border: 2px solid #fff;
  transition: .3s;
}

nav img:not(.active):not(:hover) {
  filter: grayscale(1) opacity(.5);
}
