:root {
  --vsq: calc((1vw + 1vh) / 2);
}

::-webkit-scrollbar {
  width: var(--vsq);
  height: var(--vsq);
}

::-webkit-scrollbar-thumb {
  border: 1px solid #3e3e3e;
  background: #333;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  cursor: crosshair;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  touch-action: none;
  background: #000;
}

canvas {
  user-select: none;
}
